#Top{
    width: 100%;
    background-image: url(../Imagens/Fundos/fundoPrincipal.jpg);
    padding: 2%;
    background-size: cover;
    text-align: center;
    color: white;
}
#tokenEmail{
    width: 60%;
    background-color: white;
    top: 10vh;
    margin-left: 20%;
    flex-flow: row wrap;
    justify-content: center;
}
#tokenEmail h2,p,input{
    width: 100%;
    color: #a3015a;
}
#tokenEmail h2,p{
    text-align: center;
    margin: 0;
}
#tokenEmail input{
    border: 3px solid #a3015a;
    padding: 1%;
    font-size: 18px;
    margin: 1% 0% 1% 0%;
    border-radius: 10px;
}
#imgLogin{
    width: 15%;
    height: 20vh;
}

/*Nav do cliente*/
.nav {
    display: flex;
    background-color: #a3015a;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
.nav a,button {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 1%;
}
.nav button {
    background-color: #a3015a;
    border: none;
}
.nav a img {
    width: 15%;
    margin-right: 5%;
}
.nav button img {
    width: 15%;
    margin-right: 5%;
}
.nav a:hover {
    background-color: #ca0073;
    transition: 1s;
}
.nav button:hover {
    background-color: #ca0073;
    transition: 1s;
}
.barra2 {
    display: none;
}
#florResponsiva{
    display: none;
}
#fecharMenu{
    display: none;
}
#fundoMenu{
    display: none;
}
#belezaRosa{
    display: none;
}

/*
Tela para celular vertical
menos de 350px
*/
@media screen and (max-width: 850px){
    /*Nav do cliente*/
    #Top{
        display: none;
    }
    .nav{
        display: none;
        width: 60%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        flex-flow: row wrap;
        align-content: center;
        box-shadow: 10px 0px 10px #ca0073;
    }
    .nav a,button{
        font-size: 15px;
        width: 100%;
        margin: 10% 0% 10% 0%;
    }
    #florResponsiva{
        display: flex;
        height: 30vh;
        margin: 0;
    }
    #florResponsiva img{
        width: 60%;
    }
    #fecharMenu{
        display: flex;
        width: 15%;
        margin: 2% 0% 0% 80%;
    }
    #fundoMenu{
        display: none;
        background-color: gray;
        opacity: 0.5;
        width: 40%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
    }
    #belezaRosa{
        display: block;
        color: white;
        font-size: 20px;
        height: 10vh;
        width: 100%;
        text-align: center;
    }
}