#Top{
    width: 100%;
    background-image: url(../Imagens/Fundos/fundoPrincipal.jpg);
    padding: 2%;
    background-size: cover;
    text-align: center;
    color: white;
}
#tokenEmail{
    width: 60%;
    background-color: white;
    top: 10vh;
    margin-left: 20%;
    flex-flow: row wrap;
    justify-content: center;
}
#tokenEmail h2,p,input{
    width: 100%;
    color: #a3015a;
}
#tokenEmail h2,p{
    text-align: center;
    margin: 0;
}
#tokenEmail input{
    border: 3px solid #a3015a;
    padding: 1%;
    font-size: 18px;
    margin: 1% 0% 1% 0%;
    border-radius: 10px;
}
.produto{
    background-color: white;
    width: 23%;
    margin: 1%;
    border-radius: 10px;
    height: 55vh;
}
.produto h3{
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
    color: #a3015a;
}
.produto img{
    width: 70%;
    height: 30vh;
    margin-left: 15%;
    border-radius: 5px;
}
.produto p{
    height: 25vh;
    text-align: left;
    width: 80%;
    margin: 2% 0% 0% 10%;
    font-size: 13px;
}
.produto h4{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 25px;
    font-weight: 800;
    color: #ca0073;
}
.comprar{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.comprar button{
    width: 60%;
    height: 8vh;
    border: none;
    background-color: black;
    font-size: 15px;
    border-radius: 10px;
}
.comprar span{
    background-color: #ca0073;
    margin: 5%;
    width: 15%;
    height: 5vh;
    border-radius: 50px;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: 900;
}
.prateleira{
    display: flex;
    flex-flow: row wrap;
}
#imgLogin{
    width: 15%;
    height: 20vh;
}




/*
Tela para celular vertical
menos de 350px
*/
@media screen and (max-width: 850px){
    #Top{
        display: none;
    }
    .produto{
        width: 46%;
        margin: 2%;
        height: 50vh;
        padding: 1%;
    }
    .produto h3{
        font-size: 13px;
        height: 10vh;
    }
    .produto img{
        height: 20vh;
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
    .produto h4{
        font-size: 20px;
        height: 10vh;
    }
    .comprar{
        height: 10vh;
    }
    .comprar button{
        width: 60%;
        font-size: 8px;
        height: 5vh;
        border-radius: 5px;
    }
    .comprar span{
        width: 17%;
        margin: 1%;
        font-size: 12px;
        height: 4vh;
    }
}